body {
    background-color: #333; /* Dark gray color */
}

@font-face {
    font-family: 'FS Sinclair';
    src: url('FS Sinclair Regular.otf') format('opentype');
    font-weight: normal;
}
@font-face {
    font-family: 'FS Sinclair';
    src: url('FS Sinclair Bold.otf') format('opentype');
    font-weight: bold;
}
